<% include ../header.ejs %>
<div class="products">
        <% 
        if (productsMongo.length == 0) {
        %>
            <h3>Nothing in inventory system</h3>
        <%
        } else {
            for (var i = 0; i < productsMongo.length; i++) {   
                item = productsMongo[i]; %>
                <div class="product">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Name of product:</label>
                        </div>
                        <div class="col-sm-6">
                            <p> <%= item.name %> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Quantity of product:</label>
                        </div>
                        <div class="col-sm-6">
                            <p> <%= item.quantity %> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Prize per unit line:</label>
                        </div>
                        <div class="col-sm-6">
                            <p> <%= item.prize %> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Description of product:</label>
                        </div>
                        <div class="col-sm-8">
                            <p> <%= item.description %> </p>
                        </div>
                    </div>
                    <div class="row productButton">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-3">
                            <a href="/user/accept/<%= item._id %>" class="btn btn-warning">Accept</a>
                        </div>
                        <div class="col-sm-3">
                            <a href="" class="btn btn-danger">Deny</a>
                        </div>
                    </div>
                </div>
        <% }
        }
    %>
</div>